



#basicPart{
    background: skyblue;
    height: 600px;
    padding: 100px;
}

button{
    padding: 8px 20px;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);
    border-radius:10px ;
    border: none;
    color: #fff;

}
.box{
    margin-top: 20px;
    height: 250px;
    width: 250px;
    border-radius: 10px;
background-image: linear-gradient(to right, #fb2365, #ff1d87, #ff29ac, #ff3fd3, #fb59fb);
}
.nayemerbou{
    margin-top: 20px;
    height: 250px;
    width: 250px;
    border-radius: 10px;
background-image: linear-gradient(to right, #fbd523, #ffb200, #ff8c00, #ff6000, #fd1d1e);
}

#basicpart{

    background: gray;
    padding: 200px 0;

}




.boxone{
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
background-image: linear-gradient(to right top, #6816d4, #4b40d5, #3656cf, #3565c4, #4671b5);
}


.boxtwo{
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-weight: 700;
    border-radius: 10px;
background-image: linear-gradient(to right top, #6816d4, #4b40d5, #3656cf, #3565c4, #4671b5);
}

#lightBoxPart{
    padding: 100px 0;
    background: lightpink;
}



#venoBoxPart{
    padding: 100px 0;
    background: olivedrab;
}

.venobox h3{
  color: #fff;
  font-size: 30px;
  text-align: center;
  padding-bottom: 10px;
}

.videoBox{
    padding: 50px;
    background: orange;
    text-align: center;
   
}



.videoBox i{
    font-size: 100px;
    color: #051937;
  } 


  .animalVideo{
    padding: 50px;
    background: rgba(138, 9, 9, 0.842);
    text-align: center;
  }


  .animalVideo i{
    font-size: 100px;
    color: #fff;
  }



  /* Mixitup part Start */
.MixitUp{
  padding: 10px;

}
.MixitUp h3{
  font-size: 30px;
  color: #fff;
  text-align: center;
}
#mixitUpPart{
    padding: 100px 0;
    background: hsl(0, 1%, 32%);
  }



  .boxup{
    border: 1px solid wheat;
    padding: 2px;
    border-radius: 10px;
  }
.back-to-top{
  position: fixed;
  right: 25px;
  bottom: 25px;
}
  .back-to-top i{
    font-size: 30px;
    color: #ff0800;

  }

  /* SilicSlider Part Start */



 .overly{
  background: rgba(20, 19, 19, 0.671);
  padding: 250px;
 }
  .sliderOne{
    background:url(../images/mon1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
  }


  .two{
     background:url(../images/sun.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }


  .three{
    background:url(../images/night.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .prev{
    color: #fb2365;
    font-size: 30px;
    position: absolute;
    left: 25px;
    top: 50%;
transform: translateY(-50%);
z-index: 111;
  }


  .next{
    color: #fb2365;
    font-size: 30px;
    position: absolute;
    right: 25px;
    top: 50%;
  }



  #aosPart{
    padding: 300px;
    background: #3565c4;
  }
 .squre{
  padding: 10px;
  background: tomato;
 }